header{
    
    display:flex;
    justify-content: space-between;
    align-items: center;

}
header img{
    width: 120px;
}
#header-nav {
    margin: 0 -7px;
    padding: 0 10px;
    height: 40x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lime;
}

#nav-groupe {
    display: flex;
    justify-content: space-between;

}
a.redirection:hover {
    background-color: antiquewhite !important;
    transition: ease-in-out .4s;
    border-radius: 20px;
}
.active {
        background-color: antiquewhite !important;
        border-radius: 20px;
}

a.redirection {
    transition: ease-in-out .4s;
    padding: 10px 20px;
}
#nav-groupe{
    display:flex ;
    justify-content: space-between;

}
#nav-groupe h4{
    margin-right: 5px;

}
nav h4{
    margin: 4px 5px;
    color: black;
}
main{
    background-image: url("IT-Crowd.gif") ;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: red;

}
form{
    height: 300px;
    width: 550px;
    margin: 100x;
    background-position: center;
    background-color: rgb(229, 226, 226);
    opacity: 0.6;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}
form div{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
form h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}
form h3{
    margin-right: 5px;
}
form input{
    border-radius: 20px;
    width: 250px;
    
}
#boutons{
    justify-content: space-evenly;
}
#boutons button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    font-size: 25px;
}
#Valider {
    background-color: #52b83e; 
    color : white;
    
}
#Annuler {
    background-color: white; 
    color : red;
    border: red 2px solid;
}
/* mise en page du footer */
footer img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#ligne1 {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

#aide {
    display: flex;
   
}

#ligne2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 70px;
    background-color: #fff;
    height: 40px;
    border-radius: 50px;
    color: black;
    

    
}

footer {
    background-color: rgb(192, 188, 188);
    margin: -10px;
    height: 150px;
    padding-top: 20px; 
    color: black;
}
a{
    text-decoration: none;
   color: black !important;
 

} 
a:visited {
    color: black;
}
